interface/Connected Services/spc/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertsupplierWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="suppliername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Supplieraddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Supplieremail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Suppliercontact_number" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Supplierregistration_date" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertsupplierWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertsupplierWebResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertstockrWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="drug_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="warehouse_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity_in_stock" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="purchase_price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="selling_price" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertstockrWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertstockrWebResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertpharmacyWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pharmacy_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="contact_number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registration_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertpharmacyWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertpharmacyWebResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertorderWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="drug_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Pharmacy_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="order_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity_ordered" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertorderWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertorderWebResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertstaffWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="staff_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="staff_address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="staff_email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="staff_contact_number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="staff_registration_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertstaffWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertstaffWebResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertsupplierWebSoapIn">
    <wsdl:part name="parameters" element="tns:InsertsupplierWeb" />
  </wsdl:message>
  <wsdl:message name="InsertsupplierWebSoapOut">
    <wsdl:part name="parameters" element="tns:InsertsupplierWebResponse" />
  </wsdl:message>
  <wsdl:message name="InsertstockrWebSoapIn">
    <wsdl:part name="parameters" element="tns:InsertstockrWeb" />
  </wsdl:message>
  <wsdl:message name="InsertstockrWebSoapOut">
    <wsdl:part name="parameters" element="tns:InsertstockrWebResponse" />
  </wsdl:message>
  <wsdl:message name="InsertpharmacyWebSoapIn">
    <wsdl:part name="parameters" element="tns:InsertpharmacyWeb" />
  </wsdl:message>
  <wsdl:message name="InsertpharmacyWebSoapOut">
    <wsdl:part name="parameters" element="tns:InsertpharmacyWebResponse" />
  </wsdl:message>
  <wsdl:message name="InsertorderWebSoapIn">
    <wsdl:part name="parameters" element="tns:InsertorderWeb" />
  </wsdl:message>
  <wsdl:message name="InsertorderWebSoapOut">
    <wsdl:part name="parameters" element="tns:InsertorderWebResponse" />
  </wsdl:message>
  <wsdl:message name="InsertstaffWebSoapIn">
    <wsdl:part name="parameters" element="tns:InsertstaffWeb" />
  </wsdl:message>
  <wsdl:message name="InsertstaffWebSoapOut">
    <wsdl:part name="parameters" element="tns:InsertstaffWebResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="InsertsupplierWeb">
      <wsdl:input message="tns:InsertsupplierWebSoapIn" />
      <wsdl:output message="tns:InsertsupplierWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertstockrWeb">
      <wsdl:input message="tns:InsertstockrWebSoapIn" />
      <wsdl:output message="tns:InsertstockrWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertpharmacyWeb">
      <wsdl:input message="tns:InsertpharmacyWebSoapIn" />
      <wsdl:output message="tns:InsertpharmacyWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertorderWeb">
      <wsdl:input message="tns:InsertorderWebSoapIn" />
      <wsdl:output message="tns:InsertorderWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertstaffWeb">
      <wsdl:input message="tns:InsertstaffWebSoapIn" />
      <wsdl:output message="tns:InsertstaffWebSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertsupplierWeb">
      <soap:operation soapAction="http://tempuri.org/InsertsupplierWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertstockrWeb">
      <soap:operation soapAction="http://tempuri.org/InsertstockrWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertpharmacyWeb">
      <soap:operation soapAction="http://tempuri.org/InsertpharmacyWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertorderWeb">
      <soap:operation soapAction="http://tempuri.org/InsertorderWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertstaffWeb">
      <soap:operation soapAction="http://tempuri.org/InsertstaffWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertsupplierWeb">
      <soap12:operation soapAction="http://tempuri.org/InsertsupplierWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertstockrWeb">
      <soap12:operation soapAction="http://tempuri.org/InsertstockrWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertpharmacyWeb">
      <soap12:operation soapAction="http://tempuri.org/InsertpharmacyWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertorderWeb">
      <soap12:operation soapAction="http://tempuri.org/InsertorderWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertstaffWeb">
      <soap12:operation soapAction="http://tempuri.org/InsertstaffWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:50208/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:50208/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>